@model IEnumerable<Hackathon.Models.NomineeForm>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Result</h2>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FlatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>

        <th></th>
    </tr>
    <style>
            tr:first-child {
                color: forestgreen;
            }
        </style>
    @foreach (var item in Model)

    {

        @*<h2>
            Hurray!!! The Winner is @item.CandidateName </ h2 >*@
        <tr style="background-color:@(item.Votes==ViewBag.Max ? "green" :"White");">

            <td>
                @Html.DisplayFor(modelItem => item.FlatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>


        </tr>

    }

</table>

